.testers {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 24px;
    font-weight: bolder;
}

.self-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellowgreen;
    font-size: 18px;
    font-weight: bold;
}